body {
	margin: 20px;
	background-color: #02010A;
	color: white;
	font-family: 'Dancing Script';
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
	text-shadow: 2px 2px #02010A;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: 50%;
	}
	100%{
		margin-top: -5%;
	}
}

header h1{
  color: white;
	text-align: left;
	font-size: 50px;
}

header nav{
  text-align: right;
	font-size: 30px;
}

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

.contenedor1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #82C3A6;
	flex-flow: row wrap;
}

.contenedor2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #D5C75F;
	margin: 0 auto;
}

.contenedor1 div{
	margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor2 div{
	margin-top: 50px;
	margin-bottom: 50px;
}

.imagen1{
	order: 1;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	box-shadow: 2px 2px 2px 2px #02010A;
	margin: 0 auto;
}

.imagen2{
	order: 2;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	transition-property: rotate;
	box-shadow: 2px 2px 2px 2px #02010A;
	margin: 0 auto;

}

.imagen2:hover{
	transform: rotate(10deg);
	box-shadow: #82C3A6;
	border-width: 2px;
	box-shadow: 3px 5px 10px 0 #82C3A6;
}

.imagen3{
	order: 3;
	text-align: right;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	transition-property: translate;
	box-shadow: 2px 2px 2px 2px #02010A;
	margin: 0 auto;
}

.imagen3:hover{
	transform: translateX(5px)
						 translateY(-20px);
	box-shadow: 3px 5px 10px 0 #82C3A6;
	border-width: 2px;
}

footer{
	border-radius: 0 0 10px 10px;
	background-color: #C6d5C5;
	color: black;
	column-count: 4;
	-webkit-column-count: 4;
	font-size: 20px;
}

@media all and (mmin-width 900px) {
	.imagen1{
		width: 900px;
		order: 1;
	}
	header{
		animation-duration: 1s;
		animation-name: slidein;
	}

	@keyframes slidein {
		0%{
			margin-top: 150%;
		}
		60%{
			margin-top: 50%;
		}
		100%{
			margin-top: -5%;
		}
	}
}

@media all and (min-width:300px) and (max-width:899px){
	header h1{
		text-align: center;
		font-size: 30px;
	}
	header nav{
	  text-align: center;
		font-size: 30px;
	}
	.contenedor2{
		display: flex;
		flex-direction: column;
	}
	.imagen2{
		order: 1;
	}
	.imagen3{
		order: 2;
	}
	
	footer{
		border-radius: 0 0 10px 10px;
		background-color: #C6d5C5;
		color: black;
		column-count: 1;
		-webkit-column-count: 1;
		font-size: 18px;
	}
	.galeria{
		display: flex;
		flex-direction: column;
	}
	.paisaje1{
		order: 1;
	}
	.paisaje2{
		order: 2;
	}
	.paisaje3{
		order: 3;
	}
	.paisaje4{
		order: 4;
	}
	.paisaje5{
		order: 5;
	}
	.paisaje6{
		order: 6;
	}
	header{
		animation-duration: 0.4s;
		animation-name: slidein;
	}

	@keyframes slidein {
		0%{
			margin-top: 150%;
		}
		60%{
			margin-top: 20%;
		}
		100%{
			margin-top: -5%;
		}
	}
}

/*Estilo para secciones de paisajes.html */

.galeria{
	column-count: 3;
	-webkit-column-count:3;
	justify-content: space-around;
	background-color: #D5C75F;
	margin: 0 auto;
	text-align: center;
}
.galeria img{
	margin: 40px 40px 40px 0;
}
.paisaje1{
	filter: blur(10px);
}

.paisaje2, .paisaje4, .paisaje6{
	filter: grayscale(100%);
}

.paisaje3{
	filter: sepia(90%);
}
